# 1. 데이터 로딩

In [1]:
# 패키지 로딩
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('train.xlsx',engine='openpyxl')

In [3]:
df_test = pd.read_excel('test.xlsx',engine='openpyxl')

In [4]:
# test.xlsx에 존재하는 빈 행들을 불러오지 않게 하기 위함 
df_test = df_test[df_test['신고번호'].isnull()==False]

In [5]:
df_test

,신고번호,신고일자,통관지세관부호,신고인부호,수입자부호,해외거래처부호,특송업체부호,수입통관계획코드,수입신고구분코드,수입거래구분코드,...,징수형태코드,신고중량(KG),과세가격원화금액,운송수단유형코드,반입보세구역부호,HS10단위부호,적출국가코드,원산지국가코드,관세율구분코드,관세율
0,71490948.0,2020-10-01,40.0,VBLHO,3OP9VQA,SCATEYR,NaN,F,B,11.0,...,11.0,2555.1,1.931589e+04,10.0,2006026.0,2.106909e+09,US,US,A,8.0
1,44137011.0,2020-10-01,16.0,WA5M0,83SAUAT,4NISLJN,NaN,C,B,11.0,...,11.0,4010.0,5.373710e+05,40.0,4077010.0,2.101209e+09,CN,CN,A,40.0
2,73320079.0,2020-10-01,20.0,VRNEF,3O3X3AX,NaN,NaN,C,B,11.0,...,11.0,4013.3,1.047361e+06,10.0,2010205.0,3.905300e+09,CN,CN,FCN1,0.0
3,86297956.0,2020-10-01,40.0,BRX0U,5WYTQWD,QV5FBDU,NaN,F,B,15.0,...,11.0,3896.8,1.963920e+04,10.0,4002001.0,3.924909e+09,CN,CN,FCN1,0.0
4,62899313.0,2020-10-01,40.0,7Q31W,OA6OSVF,3PZI1L8,NaN,C,B,11.0,...,18.0,4976.7,1.360200e+05,10.0,4077010.0,2.309901e+09,PK,PK,A,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23158,33357888.0,2020-12-31,40.0,QPV57,2OWH6M7,I0MG4ZH,NaN,D,B,11.0,...,11.0,420.8,4.690141e+03,40.0,4002001.0,4.202921e+09,CN,CN,A,8.0
23159,14455915.0,2020-12-31,13.0,F57Z2,35JHADJ,40P9B1W,QJ0YGH,F,B,89.0,...,33.0,19979.0,3.955338e+06,40.0,4077106.0,9.001300e+09,DE,DE,C,8.0
23160,83923494.0,2020-12-31,40.0,4TYA6,OEYQJDQ,NaN,NaN,D,B,11.0,...,11.0,3793.2,2.673082e+06,10.0,3078022.0,8.525801e+09,VN,VN,CIT,0.0
23161,17890784.0,2020-12-31,30.0,CGMT6,V69LHEI,NaN,PR5UFJ,C,B,11.0,...,11.0,5148.8,1.147732e+05,10.0,2006089.0,2.106909e+09,US,US,A,8.0
23162,99164173.0,2020-12-31,16.0,HY5FQ,FUQRKQL,W46PYSV,YGHZ0X,C,B,15.0,...,18.0,13906.2,5.470683e+07,40.0,1011065.0,9.018904e+09,JP,JP,A,8.0

In [6]:
df.shape , df_test.shape

((76837, 24), (23163, 21))

In [7]:
df.head(5)

,신고번호,신고일자,통관지세관부호,신고인부호,수입자부호,해외거래처부호,특송업체부호,수입통관계획코드,수입신고구분코드,수입거래구분코드,...,운송수단유형코드,반입보세구역부호,HS10단위부호,적출국가코드,원산지국가코드,관세율구분코드,관세율,검사결과코드,우범여부,핵심적발
0,57298928,2020-01-01,121,2O5A2,82ZHWNL,NaN,TQ18AK,D,B,15,...,10,2106003,8481900000,US,US,A,8.0,N3,1,1
1,85092852,2020-01-01,30,305K5,5IS70LE,NaN,NaN,C,B,11,...,40,4077010,2106909099,US,US,A,8.0,A,0,0
2,63014158,2020-01-01,20,CGMT6,GJ5KBL3,R9ZQOG7,NaN,D,B,11,...,40,4077007,6307909000,US,US,A,10.0,A,0,0
3,40175917,2020-01-01,40,QWUTG,PBYW02T,NaN,NaN,C,B,94,...,40,4077106,6505009090,CN,CN,A,8.0,A,0,0
4,11602631,2020-01-01,30,0X1CO,MCX0GJB,4Z9PX0Y,NaN,C,B,11,...,40,2006075,6204320000,CN,CN,FCN1,5.2,M1_N1,1,1

In [8]:
df.columns

Index(['신고번호', '신고일자', '통관지세관부호', '신고인부호', '수입자부호', '해외거래처부호', '특송업체부호',
       '수입통관계획코드', '수입신고구분코드', '수입거래구분코드', '수입종류코드', '징수형태코드', '신고중량(KG)',
       '과세가격원화금액', '운송수단유형코드', '반입보세구역부호', 'HS10단위부호', '적출국가코드', '원산지국가코드',
       '관세율구분코드', '관세율', '검사결과코드', '우범여부', '핵심적발'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76837 entries, 0 to 76836
Data columns (total 24 columns):
신고번호        76837 non-null int64
신고일자        76837 non-null datetime64[ns]
통관지세관부호     76837 non-null int64
신고인부호       76837 non-null object
수입자부호       76829 non-null object
해외거래처부호     50544 non-null object
특송업체부호      25106 non-null object
수입통관계획코드    76837 non-null object
수입신고구분코드    76837 non-null object
수입거래구분코드    76837 non-null int64
수입종류코드      76837 non-null int64
징수형태코드      76837 non-null int64
신고중량(KG)    76837 non-null float64
과세가격원화금액    76837 non-null float64
운송수단유형코드    76837 non-null int64
반입보세구역부호    76837 non-null int64
HS10단위부호    76837 non-null int64
적출국가코드      76837 non-null object
원산지국가코드     76837 non-null object
관세율구분코드     76837 non-null object
관세율         76837 non-null float64
검사결과코드      76837 non-null object
우범여부        76837 non-null int64
핵심적발        76837 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(10), object(10)
memory usage: 14.1+ MB

In [10]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23163 entries, 0 to 23162
Data columns (total 21 columns):
신고번호        23163 non-null float64
신고일자        23163 non-null datetime64[ns]
통관지세관부호     23163 non-null float64
신고인부호       23163 non-null object
수입자부호       23162 non-null object
해외거래처부호     15489 non-null object
특송업체부호      7733 non-null object
수입통관계획코드    23163 non-null object
수입신고구분코드    23163 non-null object
수입거래구분코드    23163 non-null float64
수입종류코드      23163 non-null float64
징수형태코드      23163 non-null float64
신고중량(KG)    23163 non-null float64
과세가격원화금액    23163 non-null float64
운송수단유형코드    23163 non-null float64
반입보세구역부호    23163 non-null float64
HS10단위부호    23163 non-null float64
적출국가코드      23163 non-null object
원산지국가코드     23163 non-null object
관세율구분코드     23163 non-null object
관세율         23163 non-null float64
dtypes: datetime64[ns](1), float64(11), object(9)
memory usage: 3.9+ MB

# 2. 변수제거

In [11]:
# train data 불필요한 컬럼 제거
del df['검사결과코드']
del df['핵심적발']
del df['신고번호']

In [12]:
# test 불필요한 컬럼 제거
del df_test['신고번호']

In [13]:
# 여러 번의 feature제거를 통해 알아낸 최적의 feature만 남기고 나머지 feature 제거
del df['신고일자']
del df['신고인부호']
del df['수입자부호']
del df['HS10단위부호']
del df['적출국가코드']
del df['원산지국가코드']
del df['관세율구분코드']
del df['과세가격원화금액']


del df_test['신고일자']
del df_test['신고인부호']
del df_test['수입자부호']
del df_test['HS10단위부호']
del df_test['적출국가코드']
del df_test['원산지국가코드']
del df_test['관세율구분코드']
del df_test['과세가격원화금액']

### 범수형변수 지정 + null값 string화

In [14]:
# 범주형 변수 지정
discrete_columns = [ '통관지세관부호','해외거래처부호', '특송업체부호','수입통관계획코드', '수입신고구분코드',
                    '수입거래구분코드', '수입종류코드', '징수형태코드','운송수단유형코드', '반입보세구역부호']

# 범주형 변수들을 문자열로 지정 ('object' -> 'string')
# train
for var in discrete_columns:
    df[var] = df[var].astype(str)
    
# test
for var in discrete_columns:
    df_test[var] = df_test[var].astype(str)

In [15]:
df.shape,df_test.shape

((76837, 13), (23163, 12))

# 3. Categorical Feature 그룹화 및 숫자로 변환

### 수입통관계획코드

In [16]:
# t에 지정된 값 이외에 나머지는 하나로 그룹화
var = '수입통관계획코드'
t = ['B','C','D','E','F']

label_encoding_ref = {}
label_encoding_ref[var] ={code: i+1 for i, code in enumerate(t)}

# train
df[var] = [label_encoding_ref[var].get(x,0) for x in df[var]]
df.reset_index(drop=True, inplace=True)

# test
df_test[var] = [label_encoding_ref[var].get(x,0) for x in df_test[var]]
df_test.reset_index(drop=True, inplace=True)

### 수입신고구분코드

In [17]:
# t에 지정된 값 이외에 나머지는 하나로 그룹화
var = '수입신고구분코드'
t = ['B','D','E']

label_encoding_ref = {}
label_encoding_ref[var] ={code: i+1 for i, code in enumerate(t)}

# train
df[var] = [label_encoding_ref[var].get(x,0) for x in df[var]]
df.reset_index(drop=True, inplace=True)

# test
df_test[var] = [label_encoding_ref[var].get(x,0) for x in df_test[var]]
df_test.reset_index(drop=True, inplace=True)

### 운송수단유형코드

In [18]:
# t에 지정된 값 이외에 나머지는 하나로 그룹화
var = '운송수단유형코드'
t = ['40','10','50','60']

label_encoding_ref = {}
label_encoding_ref[var] ={code: i+1 for i, code in enumerate(t)}

# train
df[var] = [label_encoding_ref[var].get(x,0) for x in df[var]]
df.reset_index(drop=True, inplace=True)

# test
df_test[var] = [label_encoding_ref[var].get(x,0) for x in df_test[var]]
df_test.reset_index(drop=True, inplace=True)

### 통관지세관부호

In [19]:
# t에 지정된 값 이외에 나머지는 하나로 그룹화
var = '통관지세관부호'
t = ['40','20','30','16','140','122','41']

label_encoding_ref = {}
label_encoding_ref[var] ={code: i+1 for i, code in enumerate(t)}

# train
df[var] = [label_encoding_ref[var].get(x,0) for x in df[var]]
df.reset_index(drop=True, inplace=True)

# test
df_test[var] = [label_encoding_ref[var].get(x,0) for x in df_test[var]]
df_test.reset_index(drop=True, inplace=True)

### 나머지

In [20]:
others = ['해외거래처부호', '특송업체부호','수입거래구분코드', '수입종류코드', '징수형태코드', '반입보세구역부호']

In [21]:
# 데이터에 빈도수가 2000개 이상인 값 이외에 나머지는 하나로 그룹화
for var in others:
    temp = df[var].value_counts()>=2000
    t=[]
    for key,val in temp.items():
        if val==True:
            t.append(key)
        
    label_encoding_ref = {}
    label_encoding_ref[var] ={code: i+1 for i, code in enumerate(t)}

    # train
    df[var] = [label_encoding_ref[var].get(x,0) for x in df[var]]
    df.reset_index(drop=True, inplace=True)
    
    # test
    df_test[var] = [label_encoding_ref[var].get(x,0) for x in df_test[var]]
    df_test.reset_index(drop=True, inplace=True)

In [22]:
df.shape, df_test.shape

((76837, 13), (23163, 12))

### 결과 확인

In [23]:
df.head(3)

,통관지세관부호,해외거래처부호,특송업체부호,수입통관계획코드,수입신고구분코드,수입거래구분코드,수입종류코드,징수형태코드,신고중량(KG),운송수단유형코드,반입보세구역부호,관세율,우범여부
0,0,1,0,3,1,2,0,2,126.0,2,0,8.0,1
1,3,1,1,2,1,1,1,1,29845.4,1,3,8.0,0
2,2,0,1,3,1,1,1,3,23557.5,1,0,10.0,0

In [24]:
df_test.head(3)

,통관지세관부호,해외거래처부호,특송업체부호,수입통관계획코드,수입신고구분코드,수입거래구분코드,수입종류코드,징수형태코드,신고중량(KG),운송수단유형코드,반입보세구역부호,관세율
0,0,0,1,5,1,0,0,0,2555.1,0,0,8.0
1,0,0,1,2,1,0,0,0,4010.0,0,0,40.0
2,0,1,1,2,1,0,0,0,4013.3,0,0,0.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76837 entries, 0 to 76836
Data columns (total 13 columns):
통관지세관부호     76837 non-null int64
해외거래처부호     76837 non-null int64
특송업체부호      76837 non-null int64
수입통관계획코드    76837 non-null int64
수입신고구분코드    76837 non-null int64
수입거래구분코드    76837 non-null int64
수입종류코드      76837 non-null int64
징수형태코드      76837 non-null int64
신고중량(KG)    76837 non-null float64
운송수단유형코드    76837 non-null int64
반입보세구역부호    76837 non-null int64
관세율         76837 non-null float64
우범여부        76837 non-null int64
dtypes: float64(2), int64(11)
memory usage: 7.6 MB

In [26]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23163 entries, 0 to 23162
Data columns (total 12 columns):
통관지세관부호     23163 non-null int64
해외거래처부호     23163 non-null int64
특송업체부호      23163 non-null int64
수입통관계획코드    23163 non-null int64
수입신고구분코드    23163 non-null int64
수입거래구분코드    23163 non-null int64
수입종류코드      23163 non-null int64
징수형태코드      23163 non-null int64
신고중량(KG)    23163 non-null float64
운송수단유형코드    23163 non-null int64
반입보세구역부호    23163 non-null int64
관세율         23163 non-null float64
dtypes: float64(2), int64(10)
memory usage: 2.1 MB

### Categorical Feature 타입 string으로 변환 <br>
(XGBoost가 string은 categorical 변수로 인식하기 때문에 string으로 변환 후, 따로 one-hot encoding 하지 않음)

In [27]:
# train
for var in discrete_columns:
    df[var] = df[var].astype(str)
    
# test
for var in discrete_columns:
    df_test[var] = df_test[var].astype(str)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76837 entries, 0 to 76836
Data columns (total 13 columns):
통관지세관부호     76837 non-null object
해외거래처부호     76837 non-null object
특송업체부호      76837 non-null object
수입통관계획코드    76837 non-null object
수입신고구분코드    76837 non-null object
수입거래구분코드    76837 non-null object
수입종류코드      76837 non-null object
징수형태코드      76837 non-null object
신고중량(KG)    76837 non-null float64
운송수단유형코드    76837 non-null object
반입보세구역부호    76837 non-null object
관세율         76837 non-null float64
우범여부        76837 non-null int64
dtypes: float64(2), int64(1), object(10)
memory usage: 7.6+ MB

In [29]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23163 entries, 0 to 23162
Data columns (total 12 columns):
통관지세관부호     23163 non-null object
해외거래처부호     23163 non-null object
특송업체부호      23163 non-null object
수입통관계획코드    23163 non-null object
수입신고구분코드    23163 non-null object
수입거래구분코드    23163 non-null object
수입종류코드      23163 non-null object
징수형태코드      23163 non-null object
신고중량(KG)    23163 non-null float64
운송수단유형코드    23163 non-null object
반입보세구역부호    23163 non-null object
관세율         23163 non-null float64
dtypes: float64(2), object(10)
memory usage: 2.1+ MB

# 4. 신고중량 로그 변환 <br>
right skewed 현상 완화

In [30]:
# train
for var in ['신고중량(KG)']:
    df[var] = df[var].apply(lambda x: np.log1p(x+3))

# test
for var in ['신고중량(KG)']:
    df_test[var] = df_test[var].apply(lambda x: np.log1p(x+3))

###  결과 확인

In [31]:
df.head(3)

,통관지세관부호,해외거래처부호,특송업체부호,수입통관계획코드,수입신고구분코드,수입거래구분코드,수입종류코드,징수형태코드,신고중량(KG),운송수단유형코드,반입보세구역부호,관세율,우범여부
0,0,1,0,3,1,2,0,2,4.867534,2,0,8.0,1
1,3,1,1,2,1,1,1,1,10.303920,1,3,8.0,0
2,2,0,1,3,1,1,1,3,10.067369,1,0,10.0,0

In [32]:
df_test.head(3)

,통관지세관부호,해외거래처부호,특송업체부호,수입통관계획코드,수입신고구분코드,수입거래구분코드,수입종류코드,징수형태코드,신고중량(KG),운송수단유형코드,반입보세구역부호,관세율
0,0,0,1,5,1,0,0,0,7.847411,0,0,8.0
1,0,0,1,2,1,0,0,0,8.297544,0,0,40.0
2,0,1,1,2,1,0,0,0,8.298365,0,0,0.0

-------------------------------------------------------------------------

# 5. 학습 및 성능 평가

In [33]:
# k-fold
from sklearn.model_selection import KFold

# train, test 분할
from sklearn.model_selection import train_test_split

# 성능 평가
from sklearn.metrics import accuracy_score, classification_report,f1_score

# XGBoost
from xgboost import XGBClassifier

### kfold를 사용하기 위해 pandas dataframe을 np array로 변경

In [34]:
# array로 변경
train_data = np.array(df)

# xdata
train_X = train_data[:,:-1]

#ydata
y_label = train_data[:,-1]

In [35]:
# categorical 변수 string 타입으로 잘 들어갔는지 확인
train_X

array([['0', '1', '0', ..., '2', '0', 8.0],
       ['3', '1', '1', ..., '1', '3', 8.0],
       ['2', '0', '1', ..., '1', '0', 10.0],
       ...,
       ['1', '0', '1', ..., '1', '1', 0.0],
       ['1', '0', '0', ..., '3', '0', 3.0],
       ['1', '0', '0', ..., '1', '0', 8.0]], dtype=object)

### y_label int 타입으로 변환

In [36]:
y_label

array([1, 0, 0, ..., 0, 1, 1], dtype=object)

In [37]:
# int 타입으로 label 변환
y_label = y_label.astype(int)

In [38]:
# 변환된 타입 확인
y_label

array([1, 0, 0, ..., 0, 1, 1])

In [39]:
train_X.shape, y_label.shape

((76837, 12), (76837,))

### k-fold 모델 설정 및 train 데이터를 train/test로 분할

In [40]:
# k-fold 모델
kfold = KFold(n_splits=5,shuffle=True,random_state=12)

# train데이터 train:test=9:1로 분할
xtrain,xtest,ytrain,ytest =\
    train_test_split(train_X,y_label,test_size=0.1)

In [41]:
xtrain.shape, xtest.shape

((69153, 12), (7684, 12))

### SMOTEENN 모델 설정

In [42]:
# SMOTEENN 모델 설정
from imblearn.combine import *
smoteenn = SMOTEENN(random_state=0, sampling_strategy='all')

### XGBoost 모델 설정

In [43]:
# XGBoost 모델
model = XGBClassifier(n_estimators=30,max_depth=5,use_label_encoder=False)

### k 번의 교차검증으로 모델 성능 측정 (5-fold + SMOTEENN + XGBoost)

In [55]:
# 에측값 담을 리스트 (모델 성능평가용도)
predict_all=[]

# 실제값 담을 리스트 (모델 성능평가용도)
real_label=[]

# 반복횟수 (확인용)
n_iter =0

# k-fold로 교차검증에서 사용할 train data 분할
for train_index, val_index in kfold.split(xtrain):  
    
    # 5번의 시도
    # train_index: 학습용으로 쓰이는 인덱스
    # test_index: 검증용으로 쓰이는 인덱스
    
    
    # 각 인덱스 출력 (확인용)
    print("TRAIN:", train_index, "TEST:", val_index)

    # 인덱스에 해당하는 train, val data를 x_train, x_val, y_train, y_val에 담기
    x_train, x_val = xtrain[train_index], xtrain[val_index]
    y_train, y_val = ytrain[train_index], ytrain[val_index]

    # train data에 SMOTEENN 적용
    x_train,y_train = smoteenn.fit_resample(x_train,y_train)
    
    # XGBoost로 x_train 학습
    model.fit(x_train, y_train ,eval_metric=["logloss"],verbose=True)
    
    # 학습된 모델로 검증용 데이터 예측
    pred = model.predict(x_val)
    
    #예측값 담기
    pred = list(pred)
    predict_all.append(pred)
    
    # 실제 값 담기
    real_label.append(list(y_val))
    
    
    
    # 반복횟수 증가
    n_iter += 1
    
    # 정확도, 소수점 4자리 반올림
    accuracy = np.round(accuracy_score(y_val, pred), 4)
    

    # 반복할 때마다 진행상황 확인
    print('\n#{0} 교차 검증 정확도 : {1},  학습 데이터 크기 : {2},  검증 데이터 크기 : {3}'
    .format(n_iter, accuracy,  x_train.shape,  x_val.shape))
    print('#{0} 검증 세트 인덱스 : {1}'.format(n_iter,val_index))
    
    print("=======================================================================\n\n")

TRAIN: [    1     2     3 ... 69149 69150 69152] TEST: [    0    26    32 ... 69135 69146 69151]

#1 교차 검증 정확도 : 0.7495,  학습 데이터 크기 : (56664, 12),  검증 데이터 크기 : (13831, 12)
#1 검증 세트 인덱스 : [    0    26    32 ... 69135 69146 69151]
=======================================================================


TRAIN: [    0     1     2 ... 69150 69151 69152] TEST: [    5     6     8 ... 69120 69130 69141]

#2 교차 검증 정확도 : 0.7475,  학습 데이터 크기 : (56195, 12),  검증 데이터 크기 : (13831, 12)
#2 검증 세트 인덱스 : [    5     6     8 ... 69120 69130 69141]
=======================================================================


TRAIN: [    0     1     3 ... 69150 69151 69152] TEST: [    2     7     9 ... 69147 69148 69149]

#3 교차 검증 정확도 : 0.7506,  학습 데이터 크기 : (56417, 12),  검증 데이터 크기 : (13831, 12)
#3 검증 세트 인덱스 : [    2     7     9 ... 69147 69148 69149]
=======================================================================


TRAIN: [    0     1     2 ... 69149 69150 69151] TEST: [    3     4    13 ... 69143 69144 69152]

#4 교차 검증 정확도 : 0.753,  학습 데이터 크기 : (56172, 12),  검증 데이터 크기 : (13830, 12)
#4 검증 세트 인덱스 : [    3     4    13 ... 69143 69144 69152]
=======================================================================


TRAIN: [    0     2     3 ... 69149 69151 69152] TEST: [    1    10    17 ... 69132 69142 69150]

#5 교차 검증 정확도 : 0.7537,  학습 데이터 크기 : (56527, 12),  검증 데이터 크기 : (13830, 12)
#5 검증 세트 인덱스 : [    1    10    17 ... 69132 69142 69150]
=======================================================================

## train_data에 대한 모델 성능

In [53]:
# 예측값 1-D Array로 변환
y_hat = []

for i in range(len(predict_all)):
    for j in range(len(predict_all[i])):
        y_hat.append(predict_all[i][j])  
        
# 실제값 1-D Array로 변환
y=[]

for i in range(len(real_label)):
    for j in range(len(real_label[i])):
        y.append(real_label[i][j]) 
        

# 리포트 확인
print(classification_report(y, y_hat))

# f1 성능 확인
print(f1_score(y,y_hat))

              precision    recall  f1-score   support

           0       0.91      0.75      0.82     53385
           1       0.47      0.74      0.58     15768

    accuracy                           0.75     69153
   macro avg       0.69      0.75      0.70     69153
weighted avg       0.81      0.75      0.77     69153

0.5755253886520978

## test_data에 대한 모델 성능

In [54]:
# 리포트 확인
ypred = model.predict(xtest)
print(classification_report(ytest, ypred)) 

# f1 성능 확인
print(f1_score(ytest,ypred))

              precision    recall  f1-score   support

           0       0.91      0.76      0.83      5880
           1       0.50      0.75      0.60      1804

    accuracy                           0.76      7684
   macro avg       0.70      0.76      0.71      7684
weighted avg       0.81      0.76      0.78      7684

0.5986364636023752

# 6. 제출

In [52]:
submission = model.predict(np.array(df_test))
sub = pd.read_excel('submission.xlsx',engine='openpyxl')
sub['우범여부']=submission
sub.to_excel("헬퍼팀제출.xlsx")